.btn-wsp{
   
    position: fixed;
    width: 65px;
    height: 60px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #46945A;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;

    z-index:100;
}

#iconowapp{
    width: 65px;
    height:60px;   
}

.btn-wsp:hover{
    box-shadow: 0px 1px 10px #46945A;
    color: #0df053;
    background: #fff;
    
}
